._pickerContainer_12ucn_39 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
  border: 5px solid #262626;
  background: black;
  color: #fff;
  position: absolute;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
  width: var(--month-input-width);
  z-index: 33;
}

._monthInputField_1ny07_1 {
  width: 200px;
  cursor: pointer;
  font-size: var(--month-input-font-size);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  background: #0c0d19;
  color: #fff;
  padding: 5px;
  border: 5px solid #262626;
  margin: 0px 40px;
  font-size: 1.1rem;
}

._monthInputField_1ny07_1:hover {
  background: black;
}

._month_12ucn_3 {
  padding: var(--month-select-padding);
  border: solid 1px transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

._month_12ucn_3:hover {
  border-radius: var(--month-border-radius);
  background-color: #f2214c;
}

._button_12ucn_55 {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
._yearContainer_12ucn_24 button svg {
  cursor: pointer;
  color: white !important;
  background-color: #fff;
  border-radius: 50%;
}

._active_12ucn_19 {
  border-radius: var(--month-border-radius);
  background: #f2214c !important;
}

@media screen and (max-width: 400px) {
  ._pickerContainer_12ucn_39 {
    width: 90%;
    margin: 0px 5px;
    border-radius: 7px;
    border: 5px solid #262626;
    background: black;
    color: #fff;
    position: absolute;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.1);
    z-index: 33;
  }

  ._monthInputField_1ny07_1 {
    width: 340px;
    cursor: pointer;
    font-size: var(--month-input-font-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background: #0c0d19;
    color: #fff;
    padding: 5px;
    border: 5px solid #262626;
    margin: 0px auto;
    font-size: 1.1rem;
  }
}
